<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="webjars/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="webjars/datetimepicker/2.4.7/jquery.datetimepicker.css">
</head>
<body ng-app="application" class="jumbotron">
<div class="container" ng-controller="AppController">
    <div class="page-header">
        <h1 align="center">Users</h1>
    </div>


    <div class="row">
        <div class="col-md-2 col-md-offset-5" style="padding-top: 5px; padding-bottom: 5px">
            <input placeholder="From date" name="startDate" id="startDate" ng-model="startDate">
        </div>

        <div class="col-md-2 col-md-offset-5" style="padding-top: 5px; padding-bottom: 5px">
            <input placeholder="End date" name="endDate" id="endDate" ng-model="endDate">
        </div>

        <div class="col-md-2 col-md-offset-5" style="padding-top: 5px; padding-bottom: 5px">
            <input placeholder="First name" id="firstName" ng-model="search.firstName">
        </div>

        <div class="col-md-2 col-md-offset-5" style="padding-top: 5px; padding-bottom: 5px">
            <input placeholder="Last name" id="lastName" ng-model="search.lastName">
        </div>

        <div class="col-md-2 col-md-offset-5" style="padding-top: 5px; padding-bottom: 5px">
            <input placeholder="Middle name" id="middleName" ng-model="search.middleName">
        </div>

        <div class="col-md-2 col-md-offset-5" style="padding-top: 5px; padding-bottom: 5px">
            <input placeholder="Appointment" id="appointment" ng-model="search.appointment">
        </div>
</div>


<table class="table table-striped display">
    <thread>
        <tr>
            <th>Last name</th>
            <th>First name</th>
            <th>Middle name</th>
            <th>Appointment</th>
            <th>Birthday</th>
            <th>Delete</th>
        </tr>
    </thread>
    <tr ng-repeat="user in users | filter: dateRangeFilter('birthday', startDate, endDate)">
        <td>{{ user.lastName }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.middleName }}</td>
        <td>{{ user.appointment }}</td>
        <td>{{ user.birthday }}</td>
<!--
        <td>{{user.birthday | dateFilter | date:"YYYY-MM-DD"}}</td>
-->
        <td>
            <button type="button" class="btn btn-danger btn-sm" ng-click="deleteUser(user)">Delete</button>
        </td>
    </tr>
</table>
</div>
</body>
<script type="text/javascript" src="webjars/jquery/2.2.4/jquery.js"></script>
<script type="text/javascript" src="webjars/momentjs/2.14.1/moment.js"></script>
<script type="text/javascript" src="webjars/datetimepicker/2.4.7/build/jquery.datetimepicker.full.min.js"></script>
<script type="text/javascript" src="js/date.js"></script>
<script type="text/javascript" src="webjars/angularjs/1.5.7/angular.min.js"></script>
<script type="text/javascript" src="webjars/angularjs/1.5.7/angular-resource.min.js"></script>
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/controllers.js"></script>
<script type="text/javascript" src="js/services.js"></script>
</html>